 /*fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: linear-gradient(#FBCA00, #D87306);
    --sidebar-color:#F6F5FF;
    --primary-color:#FBCA00;
    --primary-color-light:#F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* transição*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
    height: 100vh;
    background: var(--body-color);
}

.menu-links{
    padding-left: 0;
}

#chart-container  {
  padding-top: 2%;
  padding-left: 5%;
  width: 800px;
  height: 500px;
}

.wrapper {
  display: flex;
  transition: margin-left 0.3s;
}

.back{
    margin-left: 67px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #F6F5FF;
    padding-top: 1.5%;
}

.content {
    margin-left: 85px;
    transition: margin-left 0.3s ease-in-out;
    display: flex;
}

.sidebar.open + .content {
    margin-left: 220px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    background-color: #FFEC8B;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
    
  .add-card-form {
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 8px;
  }