/* Configurações da Pagina */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Lato:wght@300;400;700&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Lato:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    --text: #33322e;
    --laranja: #fbca00;
}
/* Styles */
body{
    color: var(--text);
    background: linear-gradient(to right top, #d87306, #e78f00, #f2ac00, #fbca00, #ffe800);
}
header:not(nav header){
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    border-bottom: solid 2px #d87306;   
}
.cabecalho{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 7% 0 7%;
    height: 4.5rem;
}
.alinhamento input{
    margin-left: 5px;
    height: 2.2rem;
    border-radius: 100px;
    border: none;
    padding-left: 10px;
    background: #ebe9e9;
    vertical-align: middle;
}
.alinhamento{
    display: flex;
    align-items: center;
    /* color: #555454; */
    color: #181717;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}
h1{
    margin-bottom: 0 !important;
}

.conteudo{
    background: #ffffff;
    border: none;
    border-radius: 5px;
    height: 95vh;
    margin: 1rem 1rem 1rem 1rem;
}
.container{
    padding: 2% 0 0 0 !important;
}
.fixTableHead {
    overflow-y: auto;
    height: 70vh;
}
.fixTableHead thead th {
    position: sticky;
    top: 0;
}
.table{
    font-family: 'Lato', sans-serif !important;
    text-align: center;
}
td, th{
    vertical-align: middle;
}
td a {
    color: var(--text);
    text-decoration: none;
}
caption{
    text-align: center;
}
.bi-person-plus-fill{
    color: var(--text);
    font-size: 22px;
}
.posicao{
  position: fixed;
  bottom: 4%;
  right: 4%;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover, .closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.add-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.add-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
